</div> <!--div of main  -->
<div class="footer">
    <p>
        With You, In Every Weather &#169;The Parmar's&#8482;
    </p>
</div>
</div> <!--div of container -->
<script type="text/javascript" src="/script/script.js"></script>
</body>

</html>