<%- include("partials/header") %>

    <h1 class="about-contact-h1">About</h1>
    <div id="about" class="para-about-gallery-help">
        <div>
            <p><label>This </label>website is about live weather report of any given area. Its default city is Dehradun
                which can be changed through search box on right and please check for spelling mistake in city name.
            <p>Following are the details of words used to describe weather conditions.</p>
        </div>

        <div>
            <p><label>Minimum Temperature: </label>Minimum temperature at the moment. This is minimal currently observed
                temperature (within large megalopolises and urban areas).</p>
        </div>
        <div>
            <p><label>Maximum Temperature: </label>Maximum temperature at the moment. This is minimal currently observed
                temperature (within large megalopolises and urban areas).</p>
        </div>
        <div>
            <p><label>Feels Like: </label> This temperature parameter accounts for the human perception of weather. </p>
        </div>
        <div>
            <p><label>Visibility: </label> The maximum value of the visibility is 10km.</p>
        </div>
        <div>
            <p><label>Humidity: </label> Humidity is in percentage.</p>
        </div>
        <div>
            <p><label>Wind Degree: </label>Wind direction, degrees (meteorological).</p>
        </div>
        <div>
            <p><label>Clouds: </label>Cloudiness in percentage.</p>
        </div>

        <div>
            <p><label>Pressure: </label>Pressure in hectopascal.</p>
        </div>

    </div>
    <%- include("partials/footer") %>