<%- include("partials/header") %>

    <h1 class="about-contact-h1">Contact</h1>

    <div class="contact">
        <div class="mail">
            <label for="gmail">Mail to: <a href="mailto:devashishsinghparmar132@gmail.com">devashishsinghparmar132@gmail.com</a></label>
            
        </div>
        <div class="github-account">
            <label for="github">My Github Account: <a href="https://github.com/DevuSP">https://github.com/DevuSP</a></label>
            
        </div>
        <div class="github-repo">
            <label for="website-repo">Repository: <a href="https://github.com/DevuSP/Live_Weather.git">https://github.com/DevuSP/Live_Weather.git</a></label>
            
        </div>
    </div>


    <%- include("partials/footer") %>