<%- include("partials/header") %>

<h1 class="about-contact-h1">Gallery</h1>
<div class="para-about-gallery-help">
<p>Gallery was included to fill Burger menu. Khali khali acha nhi lgta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe consequuntur officia. Impedit accusantium vero praesentium amet sunt expedita est deleniti consectetur porro eligendi ducimus, exercitationem quisquam ex, voluptates quae.</p>
<p>Lorem ipsum dolor. Rem, a deserunt ducimus explicabo praesentium excepturi eius sequi libero temporibus modi natus velit sit nam vel reiciendis culpa totam est nulla.</p>
<p>Lorem ipsum dolor Optio ut molestiae aperiam sint. Amet sapiente ullam est repudiandae vitae labore provident repellendus velit. Adipisci nihil repellat neque commodi sapiente excepturi!</p>
</div>

<%- include("partials/footer") %>
