<%- include("partials/header") %>
<h1 class="about-contact-h1">Help</h1>
<div class="para-about-gallery-help">
<p>Its an easy website to handle come on. You may be thinking then why add this page, wo kya hai ki khali khali ach nhi lgta, So I have to write something so this is all just rubbish which is just to fill the page. If you are still reading this get some hobby. </br>
OK if you are still reading this tell me why did chicken crossed the road... TO GET A HOBBY.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, a deserunt ducimus explicabo praesentium excepturi eius sequi libero temporibus modi natus velit sit nam vel reiciendis culpa totam est nulla.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio ut molestiae aperiam sint. Amet sapiente ullam est repudiandae vitae labore provident repellendus velit. Adipisci nihil repellat neque commodi sapiente excepturi!</p>
</div>
<%- include("partials/footer") %>
