/* Body and Everything */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    
}

body {
    min-height: 100vh;
    background: linear-gradient(#ebf2fa, #c7e0fd, #89befe);
    padding: 0;
    margin: 0;
}

/* Body and Everything Ends Here */

/* Burger menu starts here. */
#menu-bar {
    position: fixed;
    width: 45px;
    height: 35px;
    margin: 30px 0 0 30px;
    z-index: 6;
}

.bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(71, 71, 177);
    display: block;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-6px);
}

#bar3 {
    transform: translateY(6px);
}

.nav {
    padding: 0;
    transition: 1s ease;
    display: none;
}

.nav li a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.1s ease;
}

.nav li {
    list-style: none;
    padding: 20px 0;
}

.nav li a:hover {
    color: rgb(172, 208, 240);
    font-size:  30px;
    border: 2px solid aliceblue;
}

/* Class to be added after click to the buurger */

.icon .bar {
    background-color: rgb(172, 208, 240);
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    margin: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 69, 48);
    width: 20%;
    font-size: 25px;
    position: absolute;
    top: 0;
    height: 100vh;
}

/* Burger menu ends here. */
/* Scrollbar Starts Here. It does not work in firefox or edge in prior version 79. */

/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b0c1cf;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5b81af;
    border-radius: 10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #738ec3;
}

/* Scrollbar Ends Here */

/* Class Container Starts Here */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main a {
    color: #5b81af;
    font-size: 1.5rem;
    padding: 0.7rem;
    text-decoration: none;
    border-radius: 15%;
}

.main a:hover {
    color: black;
    text-decoration: underline;
}


input {
    height: 2.5rem;
    border: 2px solid #92c3fe;
    width: 13rem;
    box-shadow: 2px 2px 5px #90c2fe;
    text-align: center;
    font-size: 1.1rem;
}

.search{
    background-color: #dceafa;
    border: 2px solid #92c3fe;
    box-shadow: 2px 2px 5px #90c2fe;
    height: 2.5rem;
    width: 2.5rem;
}

/* Class Nav Ends Here  */


/* Class Main Starts Here */

/* Index Page Starts Here  */
.main {
    flex: 1;    /* For footer */
    text-align: center;
}

form {
    padding: 0.7rem;
    font-size: 1.5rem;
}

.form{
   position: absolute;
   right: 10px;
}

.nav-wish{
    margin-top: 75px;
}

#wish {
    color: #5b81af;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 5px;
}

#date {
    color: #5b81af;
    padding: 0;
    margin: 0;
}

.city-icon h1, .city-icon img {
    color: #5b81af;
    display: inline;
    vertical-align: middle;
}

.temp{
    display: flex;
    justify-content: center;
}

.temp-details{
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 5px;
}

.weather-content{
    color: #526a95;
    width: 260px;
    height: 170px;
    border: 2px solid #738cb4;
}

/* Index Page Ends Here  */

/* About & Contact Page Starts Here  */
.para-about-gallery-help {
    padding: 0 20px;
    color: #5b81af;
    text-align: left;
    max-width: 650px;
    margin: 0 auto;
    font-size: 1.3rem;
}

.about-contact-h1 {
    color: #5b81af;
    padding-bottom: 20px;
    text-decoration: underline;
    font-size: 3rem;
    font-weight: 700;
}

.contact {
    padding: 0 2%;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 3rem;
}

/* About & Contact Page Ends Here  */

/* Class Footer Starts Here */

.footer {
    padding: 1.5rem;
    text-align: center;
    color: #506885;
}

/* Class Footer Ends Here */


/* For mobile  */
/* For mobile  */
@media only screen and (max-width: 1000px) {
    .nav {
        width: 40%;
    }

    .nav-wish {
        padding: 5rem 0 0 0;
        margin-top: 0;
    }

    input{
        width: 11rem;
        height: 2rem;
    }

    .search{
        height: 2rem;
        width: 2rem;
    }
    
    #date {
        font-size: 1.5rem;
    }

    .city-icon h1 {
        font-size: 1.5rem;
    }

    .city-icon img {
        width: 4.0rem;
    }
}

@media only screen and (max-width: 650px) {
    .nav {
        width: 100%;
    }

    .nav-wish {
        padding: 5rem 0 0 0;
        margin-top: 0;
    }

    input{
        width: 10rem;
        height: 2rem;
    }

    .search{
        height: 2rem;
        width: 2rem;
    }

    #wish {
        font-size: 4rem;
    }

    #date {
        font-size: 1rem;
    }

    .city-icon h1 {
        font-size: 1rem;
    }

    .city-icon img {
        width: 3.5rem;
    }

    .para-about-gallery-help {
        color: #5b81af;
        text-align: left;
        max-width: 300px;
        margin: 0 auto;
        font-size: 1rem;
    }

    .about-contact-h1 {
        padding-bottom: 10px;
        text-decoration: underline;
        font-size: 2rem;
        font-weight: 700;
    }
}